body {
      font-family: 'Cuprum', sans-serif;
      margin: 0;
    }
figure{
   margin-right: 0;
}
.wrapper{
      display: grid;
     /* grid-template: 5.3em 36em 1fr 50em 32em 15em / 1fr;
      grid-template-areas: "header"
                           "hero"
                           "store"
                           "categories"
                           "signup"
                           "footer"
                           ;*/
      grid-template: 5.3em 1fr 15em / 1fr;
      grid-template-areas: "header"
                           "content"
                           "footer"
                           ;



   }
.header {
         
      font-family: 'Oswald', sans-serif;
      
      grid-area: header;
      
      
      

      display: grid;
      grid-template: 2.2em 3.1em / 1fr;
      grid-template-areas: "header-top"
                           "header-bottom"
                           ;

     
    }
.header-top{
   grid-area: header-top;
   color: white;
   background-color: black;
   height: 2.2em;
   position: fixed;
   left: 0;
   right:0;
   display: grid;
   grid-template: 2.2em / 1.3fr 1fr;
   grid-template-areas: "header-top-left header-top-right"
                        ;
   align-items: center;
   padding-left: 5%;
   padding-right: 5%;
   border-bottom-style: solid;
   border-bottom-width:  1px;
   border-bottom-color: lightgray;

}
.header-top a {
   color: white;
   text-decoration: none;


}
.header-top-left{
   
   grid-area: header-top-left;
   display: flex;



}
.header-top-left h4,h6 {
   margin:0;
   
   text-transform:uppercase;
}
.header-top-left h6 {
   margin-left: 2em;
   font-size: 0.68em;
   align-self: center;

}
.header-top-right{
   
   grid-area: header-top-right;
   justify-self: right;
   height: inherit;
   
}
.header-top-right-menu{
   height: inherit;
}
.header-top-right-nav {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   height: inherit;
   

}
.header-top-right-nav li{
   text-transform: uppercase;
   font-size: 0.70em;
   height: inherit;
   margin-left: 1.6em;


}

.header-top-right-nav li span{
   margin-left: 1em;
}
.header-top-right-nav li a{
   height: inherit;
   display: flex;
   align-items: center;


}

.header-top-right-nav i{
   margin-right: 0.5em;
}
.header-bottom{
   font-family: 'Cuprum', sans-serif;
   color: black;
   grid-area: header-bottom;
   border-bottom: 0.14em solid rgba(180,180,180,0.7);
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 3.1em;
   
   padding-left: 5%;
   padding-right: 5%;
   

}
.cartButton:hover {
 cursor:pointer;
}

.cartPanel{
   color: black;
   position: absolute;
   height: 0;

   width: 25rem;
   border-radius: 0.4rem;
   background:white;
   z-index:10000;
   transition: height 0.3s linear 0s;
   overflow:hidden;
   
   border-style: solid;
   border-width:  1px;
   border-color: lightgray;
}
.cartPanel hr{
   margin: 1rem 2rem;

}
.cartPanelHeader{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px;
  /* border-color: lightgray;
   border-bottom-style: solid;*/
   margin-left: 2rem;
   margin-right: 2rem;
   
}
.cartPanelHeader h3{
   font-family: 'Cuprum', sans-serif;
   font-weight: 100;
   margin-left: 1rem;
   margin-right: 1rem;
   margin-top: 1rem;
   margin-bottom: 0;
}
.cartClose{
   padding-top: 1rem;
   padding-right: 1rem;
}
.cartClose:hover{
   cursor:pointer;
}
.cartItemList{
   max-height: 10rem;
   overflow-y: auto;
   margin-right: 1rem;
}
.cartItem{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 1rem;
   padding-left: 2rem;
   
}
.cartProductPic{
   margin: 0;
}
.cartProductPic img{
   width: 2.5rem;
}
.cartItemDesc{
   font-family: 'Cuprum', sans-serif;
   font-weight: 100;
   font-size: 0.8em;
   width: 6rem;
}

.cartQty{
   font-family: 'Cuprum', sans-serif;
   font-weight: 100;
   font-size: 0.8em;
   width: 2rem;
   text-align: center;
}
.cartRemove{
   color:red!important;
   font-family: 'Cuprum', sans-serif;
   font-weight: 100;
   font-size: 0.7em;

   
}
.cartTotal{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 3rem;
   margin-right: 3rem;
}
.cartTotal h4,h3{
   margin: 0;
}
.cartCheckout{
      display: flex;
      justify-content: center;
      margin-top: 1rem;
}
.cartCheckoutButton{
      display: inline-flex;
      font-family: 'Oswald', sans-serif;
      font-size: 0.7rem;
      border-radius: 0.3rem;

      text-decoration: none;
      background-color: black;
      width: 10rem;
      height: 2rem;
      color: white;
      text-transform: uppercase;
      border: 2px;
      border-color: black;
      border-style: solid;
      
      justify-content: center;
      align-items: center;
      transition: background-color 0.35s ease;
}
.cartCheckoutButton:hover{
      cursor: pointer;
      background-color: white;
      color: black;
   
      border-style: solid;
}
.searchButton:hover{
      cursor: pointer;
}
.searchPanel{
   
   height: inherit;
   width: 100%;
  
   display: none;
   align-items: center;
}
.searchForm{
   width: 100%;
}

.searchInput{
   border: none;
   height: 3.2em;
   width: 100%;
   text-transform: uppercase;
   font-family: 'Oswald', sans-serif;
   font-size: 1.4rem;
   outline: none;


}
.searchClose:hover{
   cursor: pointer;
}
.logo{
   /*display: none;*/
   margin:0;
   padding: 0;
   border: none;
   line-height: 0;
   
}
.logo img {
   height: 1.9em;
   
   
}
.header-bottom-menu{
   /*display: none;*/
   
   height: inherit;
}

.header-bottom-nav{
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 1.2em;
   display: flex;
   height: inherit;
   
}

.header-bottom-nav li{
   text-transform: uppercase;
   margin-left: 1.6em;
   height: inherit;



}
.header-bottom-nav li a {
   color: black;
   height: inherit;
   text-decoration: none;
   display: flex;
   align-items: center;
   
   
}

.header-bottom-nav li a:hover {
   color: LightGray;
}
.content{
   grid-area: content;

}
.home{
   display: grid;
   grid-template: 36em 1fr 50em 32em/ 1fr;
   grid-template-areas:    "hero"
                           "store"
                           "categories"
                           "signup"
                           
                           ;

}
.hero {
      
      
      grid-area: hero;
      background-color: rgb(255,200,160);
      
     
    }
.store {

      grid-area: store;
      display: grid;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
      
      padding-top: 1%;
      padding-bottom: 1%;
      padding-right: 5%;
      padding-left: 5%;

      
     
    }
.product {
      
      padding: 3%;
      text-align: center;
}
.product-imageContainer {
   margin:0;
}
.product-imageContainer img {
   height: 350px;
   width: 350px;

}
.product a {
      display: inline-flex;
      font-family: 'Oswald', sans-serif;
      font-size: 0.85rem;
      border-radius: 0.3rem;

      text-decoration: none;
      background-color: black;
      width: 11rem;
      height: 2.9rem;
      color: white;
      text-transform: uppercase;
      border: 2px;
      border-color: black;
      border-style: solid;
      
      justify-content: center;
      align-items: center;
      transition: background-color 0.35s ease;
      
      
      
}
.product a:hover {
   background-color: white;
   color: black;
   
   border-style: solid;
}
.product h3 {
   font-size: 1.5rem;
   margin-top: 0.3em;
   margin-bottom: 0.3em;
}
.product h5 {
   margin-top: 0.6em;
   margin-bottom: 1.3em;
}
.categories {

      grid-area: categories;
      display: grid;
      padding-top: 3%;
      padding-bottom: 1%;
      padding-right: 5%;
      padding-left: 5%;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;

      grid-template-areas: "ampollas ampollas cocktails"
                           "tratamientos tratamientos tratamientos";
      grid-gap: 2rem;
      

      
     
    }
.categories a {
   text-decoration: none;
   display: flex;
      
   justify-content: center;
   align-items: center;
   padding: 1rem;

}
.categories a div{
   
      border: 2px;
      border-style: solid;
      border-color: white;
}


.categories a:hover{
   -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
   filter: grayscale(100%);
}


.categories h2{
   color: white;
   font-size: 2.2rem;
   padding-left: 3rem;
   padding-right: 3rem;
   text-transform: uppercase;
      
}
.ampollas{
      grid-area: ampollas;
      background-color: red;
      background-image: url(https://jopoipo.github.io/Myrakle/images/Ampollas.png);
      background-repeat: no-repeat;
      background-size: 1200px 600px;
      background-position: center;

      
      

}

.cocktails{
      grid-area: cocktails;
      background-color: blue;
      background-image: url(https://jopoipo.github.io/Myrakle/images/Cocktails1.png);
      background-repeat: no-repeat;
      background-size: 480px 480px;
      background-position: center;
}

.tratamientos{
      grid-area: tratamientos;
      background-color: pink;
}
.signup {
      
      grid-area: signup;

      padding-top: 3%;
      padding-bottom: 3%;
      padding-right: 5%;
      padding-left: 5%;

      
     
    }
.signup h3{
       font-size: 2.8rem;
       text-transform: uppercase;
       margin-bottom: 1rem;
       margin-top: 1rem;
}
.signup p{
      margin-bottom: 2rem;

}
.signup form{
      text-align: center;
      
      
}
.signup input[type=text]{

      display: block;
      text-transform: uppercase;
      font-family: 'Cuprum', sans-serif;
      font-size: 1.5rem;

      width: 30rem;
      height: 3rem;
      border:none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: gray;
      outline: none;



      


      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;

}
.signupName{

   
  
   
   
   
   
   
}
.signupEmail{
  
  
}
.signupSubmit{
      font-family: 'Oswald', sans-serif;
      font-size: 0.9rem;
      text-transform: uppercase;
      background: black;
      color: white;
      border-style: solid;
      border-color: black;
      border-width: 2px;
      border-radius: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 4rem;
      padding-right: 4rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      transition: background-color 0.35s ease;
}
.signupSubmit:hover{
   background-color: white;
   color: black;
   
   border-style: solid;
}
.footer {

      grid-area: footer;

      display: grid;
      grid-template: 3.5em 10em 2.5em / 1fr;
      grid-template-areas: "footertop"
                           "footerhero"
                           "footerbottom"
                           ;

      
     
    }
.footertop{
      grid-area: footertop;
      background-color: black;
      
      padding-right: 5%;
      padding-left: 5%;

      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.5em;

      
}
.logofooter {

   margin: 1.5em;
}
.logofooter img{
      height: 6em;
      margin-top: 0.4em;
}
.footer-top-menu{
      height: inherit;
}
.footer-top-nav{
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: 'Oswald', sans-serif;
      font-size: 1em;
      display: flex;
      height: inherit;

}
.footer-top-nav li{
      text-transform: uppercase;
      margin-left: 1.6em;
      height: inherit;



}
.footer-top-nav li a {
      color: white;
      height: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
   
   
}
.footer-top-nav li a:hover{
   color: LightGray;

}
.footerhero{
      grid-area: footerhero;
      background-color: WhiteSmoke;
      padding-right: 5%;
      padding-left: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-color: lightgray;
      border-bottom-style: solid;
      border-bottom-width: 1px;
}

.footerhero i{
      margin-left: 2.8rem;
}
.footerhero a{
      text-decoration: none;
      color: black;
}
.footerbottom{
      grid-area: footerbottom;
      padding-right: 5%;
      padding-left: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Cuprum', sans-serif;
}
.footerbottom p {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 0;
      margin-bottom: 0;
}

/* Estilos pagina de cocteles*/
.herococktails { 
      
      
     /* grid-area: herococktails;*/
     display: flex;
     align-items: center;
     justify-content: center;
     /* inicio codigo de background gradiente gris*/
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(232,232,235,1) 100%);
       /* fin codigo de background gradiente gris*/
     
    }
.containerherococktails h1 {
      font-size: 3.15rem;
      font-family: 'Cuprum', sans-serif;
      text-align: center;
      color: black;
   }

   .imagecocktails{
      grid-area: imagecocktails;
      background-color: blue;
      background-image: url(https://jopoipo.github.io/Myrakle/images/Cocktails1.png);
      background-repeat: no-repeat;
      background-size: 480px 480px;
      background-position: center;

.salonsHeader{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: gray;
      color: white;
      
}
.salonsHeader h1{
      font-family: 'Cuprum', sans-serif;
      font-weight: 200;
      font-size: 1.3em;
}
.salonsHeader select {

      font-family: 'Cuprum', sans-serif;
      font-weight: 200;
      margin-left: 0.2rem;
      border: none;
      color: white;
      background-color: gray;
      width: 7rem;
      font-size: 1.3em;
      outline: none;
}

.salonsList{
      display: flex;
      margin-left: 3rem;
      margin-right: 3rem;
      flex-wrap: wrap;
      
}
.salonsRegion{
      text-align: center;
      margin:2rem;
      

}
.salonsRegion h2{
      color: blue;
      font-family: 'Cuprum', sans-serif;
      font-weight: 200;
      font-size: 1.2em;

}
.salon{
      margin-bottom: 1rem;
}
.salonInfo{
   margin: 0;
   padding: 0;
   list-style: none;
}
.salonInfo li{
   display: flex;
   align-items: center;
   padding-left: 1rem;
}
.salonInfo li h3{
   font-weight: 500;
   font-size: 1rem;
   margin-bottom: 0.8rem;
   margin-left: 1.5rem;
   text-transform:uppercase;
}
.salonInfo li p{
   margin-top: 0.3rem;
   margin-bottom: 0.3rem;
   margin-left: 0.3rem;
   font-size: 0.75rem;
}
.salonInfo li i{
   height: 0.8rem;
   width: 1rem;
   
}
.salonsListBig{
   padding-top: 2rem;
   padding-bottom: 2rem;


}
.salonBig{
   margin-left: 5%;
   margin-right: 5%;
   display: grid;
   grid-template: 1fr / 1fr 1fr 1fr;
      grid-template-areas: "figure location details"
                           ;

}
.salonBigFigure{
   grid-area: figure;
   background-color: red;
}
.salonBigLocation{
   grid-area: location;
   background-color: blue;

}
.salonBigDetails{
   grid-area: details;
   background-color: yellow;
}

